@import "responsive.scss";
* {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  //font-family: 'Roboto', sans-serif;

}

section.head {
  margin-top: 0;
  flex-direction: row;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 28%;
  height: 100%;
  transition: all ease-in-out 0.5s;
  z-index: 2;
  background: #000000;
  padding: 0 9px;
  overflow-y: auto;
  // @media screen and () {}
  div.profile {
    img.avatar {
      width: 350px;
      height: 350px;
      border: 8px solid #2c2f3f;
      margin: 20px 20px;
    }
    h1.text-light {
      margin: 0;
      padding: 0;
    
      font-weight: 600;
      text-align: center;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      a {
        text-decoration: none;
        font-size: 2rem;
        line-height: 1;
        padding: 5px 0px;
        color: #fff !important;
        transform: 0.3s;
        &:hover {
          text-decoration: none;
        }
      }
    }
    div.social-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      background-color: #212431;
      a {
        // display: flex;
        // justify-content: center;
        // align-content: center;
        // text-decoration: none;
        margin-top: auto;
        .bx {
          border-radius: 50%;
          border: 3px solid #2c2f3f;
          background-color: #2c2f3f;
          color: #fff;
          margin: 20px 10px;
        //   width: 99px;
        //   height: 99px;
          &:hover {
            border-color: #149ddd;
            color: #fff;
          }
        }
      }
    }
  }
}

nav.nav-menu {
  ul {
    list-style: none;
    li {
      position: relative;
      white-space: nowrap;
      &.active {
        color: red;
        font-size: 2rem;
        transition: width 0.3s;
        padding-bottom: 4px;
      }
      &:hover {
        text-decoration: none;
      }
      a {
        display: flex;
        align-items: center;
        color: #a8a9b4;
        padding: 5px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 1rem;
        &:hover {
          text-decoration: none;
          list-style: none;
        }
        &:active {
          color: #fff;
          font-size: 1rem;
        }
        img {
          width: 40px;
          height: 40px;
          margin: 03px 10px;
        }
      }
    }
  }
}

ul li.active a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  color: #fff;
  transition: width 0.3s;
  padding-bottom: 4px;
}

/*section entete*/

div#hero {
  // width: 100%;
  width: 98%;
  height: 70vh;
  font-size: 2rem;
  background: url("../Image/hero_3.jpg") no-repeat ;
  div.hero-container {

    h1 {
      font-family: 'Roboto', sans-serif;
      margin-top: 0;
      font-size: 4.5rem;
      color: #fff;
      font-weight: 900;
      text-align: center;
      margin-bottom: 3%;
      
    }
    p { text-align: center;
      color: #2c2f3f;
      letter-spacing: 1px;
      font-size: 2.5rem;
      margin-left: 20px;
    }
  }
}

div.navbar {
  position: absolute;
  left: 2px;
  cursor: pointer;
}

nav.nav-menu ul,
nav.nav-menu ul:hover,
nav.nav-menu ul li a:hover,
nav.na-menu .active > a,
nav.nav-menu:hover {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

nav.nav-menu ul li > a img {
  width: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

main#main {
  width: 70%;
  margin-left: 27%;
  color: #000000;
}

section#about {
  width: 100%;
  background-color: #f4f7ff;
  padding-left: 3%;

  div.about-title {
    transition: all 0.4s;
    line-height: 1;
    h2 {
      
      color: #000;
      font-weight: 900;
      font-size: 3rem;
      padding-bottom: 5px;
      margin-top: 0px !important;
    }
    p {
      font-size: 1.5rem;
      line-height: 1;
      text-align: justify;
      padding-right: 2%;
    }
  }
  div.about-content {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    div.content-img {
      width: 40%;
      div.img.content--img {
        width: 30%;
        padding-left: 015px;
        // transition: all 0.4s;
        // width: 100px;
      }
    }
    div.content-these {
      width: 60%;
      h2 {
        color: #149ddd;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1;
        text-align: left;
        margin-top: 0px !important;
      }
      p {
        padding-left: 10px;
      }
      ul {
        list-style: url("../Image/crosshair.svg");
        // list-style: none;
        font-size: 1.2rem;
        margin-left: 0 !important;
        li {
          padding-bottom: 10px;
          color: #000;
          font-weight: 700;
          a {
            text-decoration: none;
            color: #000;
            font-weight: normal;
          }
          span {
            font-weight: normal;
          }
        }
      }
    }
  }
}

section#projet {
  width: 100%;
  padding-left: 35px;
  font-size: 1.3rem;
  text-align: justify;
  // background: #00aeff9b;
  // opacity: 0.4;
  div.projet-titre {
    h2 {
      font-size: 3rem;
      margin-top: 10px;
      font-weight: 900;
      // padding-left: 20px;
    }
  }
  div.projet-image-realiser {
    width: 100%;
    display: flex;
    flex-direction: row;
    div.col-sm-5 > img.imag--projet {
      width: 35%;
      // height: 50px;
    }
  }
  div.projet-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      img {
        width: 70px;
        margin-right: 20px;
      }
      span {
        text-align: left;
        font-size: 1.5rem;
      }
    }
  }
}

section#competence {
  padding-left: 35px;
  padding-right: 15px;
  width: 100%;
  font-size: 1.3rem;
  text-align: justify;
  h2 {
    margin-top: 10px;
    font-weight: 900;
  }
  div.progress {
    height: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    div.progress-bar {
      padding: 0;
      background: #149ddd;
    }
  }
}

div.p {
  width: 100px;
  height: 20px;
  background-color: #149ddd;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 100px;
  // text-align: justify;
  border-radius: 3px;
  span {
    padding-left: 100px;
    padding-right: 100px;
  }
}

section#service {
  padding-left: 35px;
  padding-right: 15px;
  width: 100%;
  font-size: 1.3rem;
  text-align: justify;
  transition: all 0.5s;
  h2.service--title {
    font-size: 3rem;
    margin-top: 10px;
    font-weight: 900;
  }
}
.input-name{
  
  border: 1px #0084e6 solid;
  border-radius: 10px;
  padding: 15px;
  
  // width: 50%;
  outline: none;
}
input{
  color: #000 ;
  margin: 5px 5px !important;

}
// section#contact {}
.icon-11 {
  width: 40px;
  height: 30px;
  display: block;
  float: left;
}

section#contact {
  width: 100%;
  margin: auto;
  font-size: 1.5rem;
  padding-left: 35px;
  padding-right: 15px;
  div.contact {
    h2 {
      font-size: 3rem;
      margin-top: 10px;
      font-weight: 900;
      padding: 0px 0px 0px 15px;
      color: #000;
    }
   
    label,
    textarea,
    button {
      display: block;
    
      padding: 5px 0px 5px 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-top: 20px;
      color: #000;
      border: 1px #0084e6 solid;
      font-size: 2rem;
      outline: none;
      border-radius: 10px;
     
    }
    button {
      border: none;
      width: 20%;
     background-color:#0084e6;
     color: #000;

    }
  }
}

//responsive
@media (max-width: 1199px) {
  * {
    box-sizing: border-box !important;
    margin-left: 0;
    width: 100%;
    font-size: 1.5rem;
  }
  header {
    left: -500px;
  }
  div#hero {
    width: 100%;
    margin-left: 0;
    p {
      width: 100%;
      margin-left: 0;
    }
  }
  main#main {
    width: 100%;
    margin-left: 0;
    section#about {
      margin-right: 0;
      div.content-these h2 {
        // font-weight: 400!important;
        text-align: left !important;
      }
    }
    section#projet {
      padding-left: 15px;
      margin: 0;
      text-align: left;
    }
    section#competence {
      padding-right: 0;
      padding-left: 15px;
    }
    section {
      padding-left: 0;
      div.contact h2 {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  main#main {
    width: 90%;
    margin-left: 25px;
  }
  div#hero {
    width: 100%;
    height: 70vh;
    margin-left: 0;
    //image
    div.hero-container {
      h1 {
        font-size: 4.5rem;
        color: #fff;
        font-weight: 900;
        margin-top: 20%;
      }
      p {
        font-size: 3.25rem;
        margin-left: 20px;
      }
    }
  }
  section#about {
    div.about-title {
      h2 {
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 5px;
      }
      p {
        font-size: 1.5rem;
        text-align: justify;
        padding-right: 2%;
      }
    }
    div.about-content {
      padding-left: 10px;
      width: 100%;
      display: block;
      font-size: 1.3rem;
      div.content-img {
        width: 70%;
        div.img.content--img {
          width: 30%;
          padding-left: 015px;
        }
      }
      div.content-these {
        margin-top: 5%;
        width: 90%;
        h2 {
          color: #149ddd;
          font-weight: 900;
          font-size: 2.5rem;
          line-height: 1;
          text-align: left;
          padding-right: 2%;
        }
      }
    }
  }
  section#projet {
    padding-left: 0px;
    font-size: 1.3rem;
    text-align: left;
    transform: all 0.3s;
    div.projet-titre {
      h2 {
        font-size: 3rem;
        margin-top: 10px;
        font-weight: 900;
        padding-left: 0px;
      }
    }
    div.projet-image {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        img {
          width: 70px;
          padding-right: 20px;
        }
        span {
          text-align: left;
          font-size: 1rem;
        }
      }
    }
  }
  section#contact {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    padding-left: 35px;
    padding-right: 15px;
    div.contact {
      h2 {
        font-size: 3rem;
        margin-top: 10px;
        font-weight: 900;
        padding: 0px 0px 0px 15px;
        color: #000;
      }
      button {
        border: none;
        width: 30%;
      }
    }
  }
}

@media (max-width: 411px) {
  main#main {
    width: 100%;
    margin-left: 15px;
  }
  div#hero {
    width: 100%;
    height: 70vh;
    margin-left: 0;
    //image
    div.hero-container {
      h1 {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 500;
        margin-top: 10%;
      }
      p {
        font-size: 0.25rem;
        margin-left: 20px;
      }
    }
  }
  section#about {
    div.about-title {
      h2 {
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 5px;
      }
      p {
        font-size: 1.5rem;
        
      }
    }
    div.about-content {
      padding-left: 10px;
      width: 100%;
      display: block;
      font-size: 1.3rem;
      div.content-img {
        width: 70%;
        div.img.content--img {
          width: 30%;
          padding-left: 015px;
        }
      }
      div.content-these {
        margin-top: 5%;
        width: 90%;
        h2 {
          color: #149ddd;
          font-weight: 900;
          font-size: 2.5rem;
          line-height: 1;
          text-align: left;
          padding-right: 2%;
        }
      }
    }
  }
  section#projet {
    padding-left: 0px;
    font-size: 1.3rem;
    text-align: left;
    transform: all 0.3s;
    div.projet-titre {
      h2 {
        font-size: 3rem;
        margin-top: 10px;
        font-weight: 900;
        padding-left: 0px;
      }
    }
    div.projet-image {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        img {
          width: 70px;
          padding-right: 20px;
        }
        span {
          text-align: left;
          font-size: 1rem;
        }
      }
    }
  }
  section#contact {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    padding-left: 35px;
    padding-right: 15px;
    div.contact {
      h2 {
        font-size: 3rem;
        margin-top: 10px;
        font-weight: 900;
        padding: 0px 0px 0px 15px;
        color: #000;
      }
      button {
        border: none;
        width: 30%;
      }
    }
  }
}
